.search-query::-webkit-scrollbar {
  display: none !important;
}

@media (min-width: 1629px) {
  .container .prettified-data {
    padding: 1.25vw !important;
  }
}

@media (max-width: 768px) {
  .main {
    grid-template-columns: 0vw 100vw 0vw !important;
    overflow-x: hidden !important;
  }

  .btn-submit {
    padding: 2vw;
    justify-content: center !important;
  }
}

@media (max-width: 600px) {
  .btn-submit {
    padding: 3vw;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 2vw !important;
  }

  .btn-submit {
    padding: 4vw;
  }
}

.container .prettified-data {
  background-color: #228be6 !important;
  height: fit-content;
  padding: 2vw;
}

.container #user-query {
  background-color: #4dabf7 !important;
}

@media (max-width: 410px) {
  .btn-submit {
    padding: 0 !important;
  }
}

.model-input:focus-visible,
.index-input:focus-visible {
  outline: 2px solid black;
}

.gpt-messages-list::-webkit-scrollbar,
.container::-webkit-scrollbar,
.app-shell::-webkit-scrollbar {
  display: none !important;
}

.gpt-messages-list,
.container,
.app-shell {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.user-div {
  transition: all 0.2s;
}

.user-div:hover {
  transition: all 0.2s;
  background-color: #4dabf7 !important;
}
